<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>QuerypointServlet</servlet-name>
        <servlet-class>com.lm.web.QuerypointServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuerypointServlet</servlet-name>
        <url-pattern>/querypointServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CountmeaningServlet</servlet-name>
        <servlet-class>com.lm.web.CountmeaningServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CountmeaningServlet</servlet-name>
        <url-pattern>/countmeaningServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddpointServlet</servlet-name>
        <servlet-class>com.lm.web.AddpointServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddpointServlet</servlet-name>
        <url-pattern>/addpointServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ContourjsonServlet</servlet-name>
        <servlet-class>com.lm.web.ContourjsonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContourjsonServlet</servlet-name>
        <url-pattern>/contourjsonServlet</url-pattern>
    </servlet-mapping>
</web-app>