.first_title{
    display: block;
    width: 400px;
    margin-left: 4cqh;
    padding: 10px;
    color: #000000;
    font-family:  "Microsoft YaHei";
    font-size: 2rem;
}

li,.menuItem{
    font-family: "Microsoft YaHei", Arial, sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #000000;
    text-decoration: none;
}

.img-set {
    width: 25px;
    position: relative;
    top:-2.5px;
    margin-right: 5px;
    background: transparent;
}
.nav_links{
    list-style: none;
}

.nav_links li{
    display: block;
    padding: 10px 10px;
    margin-left: 55px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.nav_links li a:hover{
    color: #747474;
}
.query-input {
    color: black;
    height: 26px;
    border-style: none;
    border-radius: 25px;
}

.query-button {
    border-style: none;
    margin-top: 8%;
    background-color: transparent;
}

.info {
    background-color: #ffffff;
    /* background-image:url(../images/panda.png); */
    background-repeat:no-repeat;
    background-position:right 0px top 80px;
    background-size:150px 150px;
    height:300px;
    position:absolute;
    bottom:3px;
    right: 5px;
    width: 400px;
    border-radius: 15px;
    box-shadow:  10px 10px 10px 1px rgba(0, 0, 0, 0.5);
    border: 1px solid #ffffff;
}
.clear-button{
    border-style: none;
    margin-top: 8%;
    background-color: transparent;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 8px;
    height: 8px;
    cursor: pointer;
}

.addpoint_clear-button {
    background-color: lightgray;
    color: black;
    border: none;
    padding: 8px 12px;
    text-align: center;
    border-radius: 7px;
}

.addpoint_add-button {
    background-color: rgb(0, 204, 255);
    color: white;
    border: none;
    padding: 8px 12px;
    text-align: center;
    border-radius: 7px;
}
/* 样式名可根据需要修改 */
.addpoint_input-name,
.addpoint_input-meaning {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    /* 这里可以添加其他样式属性 */
}

.start-popup-title {
    font-size: 18px;
    margin-bottom: 10px;
}



#elevation-button {
    width: 50px; /* 设置按钮宽度 */
    height: 50px; /* 设置按钮高度 */
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 8px;
    padding: 15px; /* 调整按钮的内边距以适应 SVG 图片 */
    cursor: pointer;
    background-image: url('../images/scale.png');
    background-size: 70%; /* 保证SVG图像铺满按钮 */
    background-position: center;
    background-repeat: no-repeat; /* 防止SVG图像重复显示 */
}
